{% extends 'base.html' %}

{% block body %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{url_for('static', filename='assets/img/intro.jpg')}}" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">The Coffee Shops</span>
                    <span class="section-heading-lower">Worth Visiting!</span>
                </h2>
                <p class="mb-3">Ever needed to know which cafes in London have the most affordable coffee? Which cafes have enough seating to accomodate a meeting? Which cafe has enough outlets to support all your electronic devices? Then you've come to the right place! Welcome to the London Cafe Reviewer! Here you'll find brief summary reviews on the many coffee shops around London! </p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{{url_for('cafes_list')}}">Check out our Reviews!</a></div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">Rest assured that we are deeply committed to providing you with the most accurate data on all of our reviewed coffee shops. We do our best to keep the information up to date but mistakes occaisionally do happen. If you notice an error in one of our reviews, please let us know! We would love to hear from you!</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}
